{% extends 'base.html' %}

{% block title%}Matchup{% endblock title %}

{% block content %}
<h2>{{ matchup.date_time }}</h2>
<br>
<form method="post">
    {% csrf_token %}
<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Spread</th>
            <th scope="col">Select</th>
          </tr>
        </thead>
        <div class="form-check">
        <tbody>
          <tr>
            <th scope="row">Away Team</th>   
            <td>{{ matchup.away_team }}</td>
            {% if matchup.away_spread > 0 %}
                <td>+{{ matchup.away_spread }}</td>
            {% else %}
                <td>{{ matchup.away_spread }}</td>
            {% endif %}
            <td><input type="radio" name="game{{ matchup.id }}" value="{{ matchup.away_team }} {{ matchup.away_spread }}"></td>
          </tr>
          <tr>
                <th scope="row">Home Team</th>   
                <td>{{ matchup.home_team }}</td>
                {% if matchup.home_spread > 0 %}
                <td>+{{ matchup.home_spread }}</td>
                {% else %}
                <td>{{ matchup.home_spread }}</td>
                {% endif %}
                <td><input type="radio" name="game{{ matchup.id }}" value="{{ matchup.home_team }} {{ matchup.home_spread }}"></td>
          </tr>
        </div>
        </tbody>
      </table>
      <label for="wager">Wager</label>
      <select class='form-control col-md-2' name="wager">
          <option value="0">Free Play</option>
          <option value="5">$5</option>
          <option value="10">$10</option>
          <option value="20">$20</option>
          <option value="50">$50</option>
          <option value="100">$100</option>
          
        </select>
        <br><br>
      <input type="submit" class="btn btn-primary" value="Make Pick">
    </form>

{% endblock content %}